/* ================= Global ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f1ef;
  color: #262626;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  box-sizing: border-box;
}

/* ================= Navbar ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 3rem;
  width: 100%;
}

.navbar .logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.navbar .logo img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: #262626;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #bca88e;
}


/* ================= Sections ================= */
.home {
  display: flex;
  margin-top: 100px;
  padding: 2rem;
  flex-direction: column;
}

.home-content {
  margin: 0 auto;
}

.intro {
  margin-left: 70px;
  margin-bottom: 100px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-align: left;
}

.intro h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #122620;
}

.tagline {
  font-size: 1.8rem;
  padding-right: 5rem;
  color: #747474;
  width: 100%;
}

.home-welcome-text p {
  font-size: 1.2rem;
  color: #122620;
  line-height: 1.6;
  margin: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.btn-about-me {
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.btn-about-me:hover {
  background-color: #555;
  color: #fff;
}

.highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
  padding: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.highlight-card {
  background-color: #bdc3cb;
  border-radius: 10px;
  padding: 1.5rem;
  flex: 1 1 200px;
  /* responsive card width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.highlight-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  background-color: #dcd2cc;
}

.icon {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
}


/* ================= About Me ================= */
.about-me {
  padding: 5rem 1rem 5rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

h2 {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #333;
}

.about-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;

  @media(min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1.5rem;
}

.link-resume {
  margin-top: 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 700;
}

.link-resume:hover {
  background-color: #bca88e;
  padding: 10px;
  border-radius: 30px;
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* ===== Footer ===== */
.footer {
  padding: 0 2rem 0 2rem;
  color: #333;
  font-family: sans-serif;
  background-color: #e9eaec;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.75rem;
  text-align: left;
  padding: 4rem 4rem 0 4rem;
}

.footer-content p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-email {
  font-size: 2.3rem;
  font-weight: bold;
  color: #1d1e1e;
  text-decoration: none;
}

.footer-email:hover {
  text-decoration: none;
  color: #555;
  margin-bottom: 1rem;
}

.btn-contact {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.8rem;
  min-width: 120px;
  background-color: #333;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 150px;
  margin-bottom: 1rem;
}

.btn-contact:hover {
  background-color: #555;
}

hr {
  width: 100%;
  border: 1px solid #747474;
  align-content: center;
}

.social-links {
  margin: 1rem 4rem 2rem 4rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.social-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.social-links a:hover {
  text-decoration: underline;
  color: #555;
}

.received-info {
  color: #333;
  font-weight: 500;
}


/* ================= Responsive ================= */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}